In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('dats set 2/recipes_w_search_terms.csv')

In [3]:
df.head(1)

,id,name,description,ingredients,ingredients_raw_str,serving_size,servings,steps,tags,search_terms
0,96313,Grilled Garlic Cheese Grits,"We love grits, this is another good way to ser...","['water', 'grits', 'salt', 'cheddar cheese', '...","[""4 cups water"",""1 cup uncooked old f...",1 (155 g),8,"['I a sauce pan, bring water to a boil; slowly...","['time-to-make', 'course', 'main-ingredient', ...","{'diabetic', 'low-calorie', 'vegetarian', 'low..."

# Useful columns for project
- Most columns are already present in first data set. Only column that is required from this dataset is serving_size and 
servings
- Using both ingredients and ingredients_raw_str because 'ingredients will be used for features of model while the raw str will be used in final output to determine total quantity of each ingredient

In [4]:
df = df.loc[:,['id', 'serving_size', 'servings', 'ingredients', 'ingredients_raw_str']]

In [5]:
df.head(1)

,id,serving_size,servings,ingredients,ingredients_raw_str
0,96313,1 (155 g),8,"['water', 'grits', 'salt', 'cheddar cheese', '...","[""4 cups water"",""1 cup uncooked old f..."

In [6]:
df.to_csv('DataSet2.csv')